<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoJavaWeb</display-name>
  <servlet>
    <servlet-name>IncluirProdutoServlet</servlet-name>
    <servlet-class>controller.produto.action.IncluirProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirProdutoServlet</servlet-name>
    <url-pattern>/IncluirProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AlterarProdutoServlet</servlet-name>
    <servlet-class>controller.produto.action.AlterarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarProdutoServlet</servlet-name>
    <url-pattern>/AlterarProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ExcluirProdutoServlet</servlet-name>
    <servlet-class>controller.produto.action.ExcluirProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirProdutoServlet</servlet-name>
    <url-pattern>/ExcluirProduto</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>